.main {
  border: 3px solid red;
}

.mainPanel {
  border: 3px solid yellow;
  display: flex;
  margin: 5px;
}

.toolbar {
  border: 3px solid orange;
  margin: 5px;
}

.navPanel {
  border: 3px solid green;
  margin: 5px;
  flex-grow: 1
}

.contentPanel {
  border: 3px solid violet;
  margin: 5px;
  flex-grow: 2;
}
